<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="tugasAkhirPABD.Properties.Settings.tokorotiConnectionString"
            connectionString="Data Source=DESKTOP-8MPJNA9\MELINDARAHMAH;Initial Catalog=tokoroti;User ID=sa;Password=bungursari78"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>